<div class="container">
  <div class="card">
    <div class="card-header">
      <h4>Lista de Usuarios</h4>
    </div>
    <div class="card-body">
      <button mat-raised-button color="primary" (click)="cambiarEstado(registrosSeleccionados)" [disabled]="!hayRegistrosSeleccionados" class="mb-3">Cambiar Estado</button>
      <button mat-raised-button color="warn" (click)="eliminarRegistros()" [disabled]="!hayRegistrosSeleccionados" class="mb-3 mx-3">Eliminar Registros</button>
      <table mat-table [dataSource]="usuarios" class="table" matSort>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="row.seleccionado" (change)="seleccionarRegistro(row)"></mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let usuario">{{ usuario.id }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="text-center">Nombres</th>
          <td mat-cell *matCellDef="let usuario">{{ usuario.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef class="text-center">Apellidos</th>
          <td mat-cell *matCellDef="let usuario">{{ usuario.apellido }}</td>
        </ng-container>

        <ng-container matColumnDef="documento">
          <th mat-header-cell *matHeaderCellDef class="text-center">Documento</th>
          <td mat-cell *matCellDef="let usuario">{{ usuario.documento }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="text-center">Email</th>
          <td mat-cell *matCellDef="let usuario">{{ usuario.email }}</td>
        </ng-container>

        <ng-container matColumnDef="rol">
          <th mat-header-cell *matHeaderCellDef class="text-center">Rol</th>
          <td mat-cell *matCellDef="let usuario">{{ usuario.id_rol !== undefined ? obtenerNombreRol(usuario.id_rol) : '' }}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef class="text-center">Estado</th>
          <td mat-cell *matCellDef="let usuario" [ngClass]="{'text-danger': !usuario.estado, 'text-success': usuario.estado}">
            {{ usuario.estado ? 'Activo' : 'Inactivo' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="text-center">Acciones</th>
          <td mat-cell *matCellDef="let usuario">
            <button mat-raised-button color="warn" (click)="actualizarActor(usuario.id)">Editar</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
