<div class="container">
    <div class="card">
      <div class="card-header">
        <h4>Lista de Llaves</h4>
      </div>
      <div class="card-body">
        <button mat-raised-button color="primary" (click)="cambiarEstado(registrosSeleccionados)" [disabled]="!registrosSeleccionados.length" class="mb-3">Cambiar Estado</button>
        <button mat-raised-button color="warn" (click)="eliminarRegistros()" [disabled]="!registrosSeleccionados.length" class="mb-3 mx-3">Eliminar Registros</button>
        <table mat-table [dataSource]="llaves" class="table" matSort>
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (click)="$event.stopPropagation()" (change)="masterToggle()"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let llave">
              <mat-checkbox [(ngModel)]="llave.seleccionado" (click)="$event.stopPropagation()" (change)="seleccionarRegistro(llave)"></mat-checkbox>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let llave">{{ llave.id }}</td>
          </ng-container>
  
          <ng-container matColumnDef="ambiente">
            <th mat-header-cell *matHeaderCellDef>Ambiente</th>
            <td mat-cell *matCellDef="let llave">{{ llave.ambiente }}</td>
          </ng-container>
  
          <ng-container matColumnDef="piso">
            <th mat-header-cell *matHeaderCellDef>Piso</th>
            <td mat-cell *matCellDef="let llave">{{ llave.piso }}</td>
          </ng-container>
  
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let llave" [ngClass]="{'text-danger': !llave.estado, 'text-success': llave.estado}">
              {{ llave.estado ? 'Activo' : 'Inactivo' }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let llave">
              <button mat-raised-button color="warn" (click)="deleteLlave(llave.id)">Eliminar</button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>